//! **************************************************************************
// Written by: Map P.68d on Tue Jun 10 09:52:22 2014
//! **************************************************************************

SCHEMATIC START;
COMP "rx" LOCATE = SITE "N17" LEVEL 1;
COMP "tx" LOCATE = SITE "N18" LEVEL 1;
COMP "data_mem_mem_interface<10>" LOCATE = SITE "P12" LEVEL 1;
COMP "data_mem_mem_interface<11>" LOCATE = SITE "U13" LEVEL 1;
COMP "data_mem_mem_interface<12>" LOCATE = SITE "V13" LEVEL 1;
COMP "data_mem_mem_interface<13>" LOCATE = SITE "U10" LEVEL 1;
COMP "data_mem_mem_interface<14>" LOCATE = SITE "R8" LEVEL 1;
COMP "data_mem_mem_interface<15>" LOCATE = SITE "T8" LEVEL 1;
COMP "clk" LOCATE = SITE "V10" LEVEL 1;
COMP "bit8" LOCATE = SITE "T5" LEVEL 1;
COMP "control_mem<0>" LOCATE = SITE "K16" LEVEL 1;
COMP "control_mem<1>" LOCATE = SITE "K15" LEVEL 1;
COMP "control_mem<2>" LOCATE = SITE "M18" LEVEL 1;
COMP "control_mem<3>" LOCATE = SITE "H18" LEVEL 1;
COMP "control_mem<4>" LOCATE = SITE "L18" LEVEL 1;
COMP "control_mem<5>" LOCATE = SITE "M16" LEVEL 1;
COMP "control_mem<6>" LOCATE = SITE "L15" LEVEL 1;
COMP "clk_mem" LOCATE = SITE "R10" LEVEL 1;
COMP "addr_mem_mem_interface<0>" LOCATE = SITE "K18" LEVEL 1;
COMP "addr_mem_mem_interface<1>" LOCATE = SITE "K17" LEVEL 1;
COMP "addr_mem_mem_interface<2>" LOCATE = SITE "J18" LEVEL 1;
COMP "addr_mem_mem_interface<3>" LOCATE = SITE "J16" LEVEL 1;
COMP "addr_mem_mem_interface<4>" LOCATE = SITE "G18" LEVEL 1;
COMP "addr_mem_mem_interface<5>" LOCATE = SITE "G16" LEVEL 1;
COMP "addr_mem_mem_interface<6>" LOCATE = SITE "H16" LEVEL 1;
COMP "addr_mem_mem_interface<7>" LOCATE = SITE "H15" LEVEL 1;
COMP "addr_mem_mem_interface<8>" LOCATE = SITE "H14" LEVEL 1;
COMP "addr_mem_mem_interface<9>" LOCATE = SITE "H13" LEVEL 1;
COMP "interrupt_ack" LOCATE = SITE "T11" LEVEL 1;
COMP "reset" LOCATE = SITE "C4" LEVEL 1;
COMP "addr_mem_mem_interface<10>" LOCATE = SITE "F18" LEVEL 1;
COMP "addr_mem_mem_interface<11>" LOCATE = SITE "F17" LEVEL 1;
COMP "addr_mem_mem_interface<12>" LOCATE = SITE "K13" LEVEL 1;
COMP "addr_mem_mem_interface<20>" LOCATE = SITE "G14" LEVEL 1;
COMP "addr_mem_mem_interface<13>" LOCATE = SITE "K12" LEVEL 1;
COMP "addr_mem_mem_interface<21>" LOCATE = SITE "F14" LEVEL 1;
COMP "addr_mem_mem_interface<14>" LOCATE = SITE "E18" LEVEL 1;
COMP "addr_mem_mem_interface<22>" LOCATE = SITE "C18" LEVEL 1;
COMP "addr_mem_mem_interface<15>" LOCATE = SITE "E16" LEVEL 1;
COMP "addr_mem_mem_interface<16>" LOCATE = SITE "G13" LEVEL 1;
COMP "addr_mem_mem_interface<17>" LOCATE = SITE "H12" LEVEL 1;
COMP "addr_mem_mem_interface<18>" LOCATE = SITE "D18" LEVEL 1;
COMP "addr_mem_mem_interface<19>" LOCATE = SITE "D17" LEVEL 1;
COMP "zero<0>" LOCATE = SITE "C17" LEVEL 1;
COMP "zero<1>" LOCATE = SITE "F16" LEVEL 1;
COMP "zero<2>" LOCATE = SITE "F15" LEVEL 1;
COMP "interrupt" LOCATE = SITE "C9" LEVEL 1;
COMP "parity_en" LOCATE = SITE "V8" LEVEL 1;
COMP "baud_val<0>" LOCATE = SITE "T10" LEVEL 1;
COMP "baud_val<1>" LOCATE = SITE "T9" LEVEL 1;
COMP "baud_val<2>" LOCATE = SITE "V9" LEVEL 1;
COMP "baud_val<3>" LOCATE = SITE "M8" LEVEL 1;
COMP "data_mem_mem_interface<0>" LOCATE = SITE "R13" LEVEL 1;
COMP "data_mem_mem_interface<1>" LOCATE = SITE "T14" LEVEL 1;
COMP "data_mem_mem_interface<2>" LOCATE = SITE "V14" LEVEL 1;
COMP "data_mem_mem_interface<3>" LOCATE = SITE "U5" LEVEL 1;
COMP "data_mem_mem_interface<4>" LOCATE = SITE "V5" LEVEL 1;
COMP "data_mem_mem_interface<5>" LOCATE = SITE "R3" LEVEL 1;
COMP "data_mem_mem_interface<6>" LOCATE = SITE "T3" LEVEL 1;
COMP "data_mem_mem_interface<7>" LOCATE = SITE "R5" LEVEL 1;
COMP "data_mem_mem_interface<8>" LOCATE = SITE "N5" LEVEL 1;
COMP "data_mem_mem_interface<9>" LOCATE = SITE "P6" LEVEL 1;
COMP "odd_n_even" LOCATE = SITE "U8" LEVEL 1;
SCHEMATIC END;

